/* ::::: http://hublot.kupifix.ru/styles.css ::::: */

table.zebra tbody tr:nth-of-type(2n+1) { background-color: rgba(0, 0, 0, 0.5); color: rgb(200, 164, 100); font-family: "HeliosCond-Regular"; }
/* ::::: http://hublot.kupifix.ru/index.css ::::: */

/* ::::: http://hublot.kupifix.ru/helios/HeliosCond-Regular.css ::::: */

@font-face {
	font-family: "HeliosCond-Regular";
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	src: url('helioscond_latin%402blatin-ext%402bcyrillic_gdid41d.eot') format("embedded-opentype"), url('helioscond_latin%402blatin-ext%402bcyrillic_gdi.woff') format("woff"), url('helioscond_latin%402blatin-ext%402bcyrillic_gdi.ttf') format("truetype"), url('helioscond_latin%402blatin-ext%402bcyrillic_gdi.svg') format("svg");
	unicode-range: U+0020-203A;
}
body { text-align: center; margin: 0px; background: none repeat scroll 0% 0% rgb(0, 0, 0); color: rgb(255, 255, 255); font-family: "HeliosCond-Regular"; font-size: 16px; min-width: 1000px; padding: 0px; width: 100%; }
p { text-align: left; }
