/*Drakkar by Rakapudl*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700,300,400&subset=latin,cyrillic);

* {
	padding: 0;
	margin: 0;
}

a {
	background-color: #7f8fb2 !important;
}

/*Button*/
.button {
	font-size: 1.5em;
	display: inline-block;
	padding: 6px 20px;
	background-color: #63797C;
	color: white;
	text-align: center;
	cursor: pointer;
	transition: background-color 0.1s ease;
	-webkit-user-select: none;
  	-moz-user-select: none; 
  	-ms-user-select: none;   
  	-o-user-select: none;
  	margin: 5px;
}

.button:hover {
	background-color: #829396;
}

.button:active {
	background-color: #455456;
}

.no-hover:hover {
	background-color: #63797C;
}

.no-hover:active {
	background-color: #63797C;
}
/*Effects*/

.infinite {
	 -webkit-animation-duration: infinite;
    -moz-animation-duration: infinite;
    -o-animation-duration: infinite;
    animation-duration: infinite;
}

.zoom {
	transition: transform 0.2s ease;
}

.zoom:hover {
	transform: scale(1.1, 1.1);
}

.rotate-l {
	-webkit-transition: all 100ms ease;
  	-moz-transition: all 100ms ease;
  	-o-transition: all 100ms ease;
  	transition: all 100ms ease;
}

.rotate-l:hover {
	-webkit-transform: rotate(-6deg); /* Chrome y Safari */
	-moz-transform: rotate(-6deg); /* Firefox */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
	-o-transform: rotate(-6deg); /* Opera */

}

.rotate-r {
	-webkit-transition: all 100ms ease;
  	-moz-transition: all 100ms ease;
  	-o-transition: all 100ms ease;
  	transition: all 100ms ease;
}


.rotate-r:hover {
	-webkit-transform: rotate(6deg); /* Chrome y Safari */
	-moz-transform: rotate(6deg); /* Firefox */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
	-o-transform: rotate(6deg); /* Opera */
}

.rotate:hover {
	-webkit-animation-name: rotate; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.3s; /* Chrome, Safari, Opera */
    animation-name: rotate;
    animation-duration: 0.3s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rotate {
    0%   {	-webkit-transform: rotate(0deg); /* Chrome y Safari */
	-moz-transform: rotate(0deg); /* Firefox */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
	-o-transform: rotate(0deg); /* Opera */}
    25%  {	-webkit-transform: rotate(2deg); /* Chrome y Safari */
	-moz-transform: rotate(2deg); /* Firefox */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
	-o-transform: rotate(2deg); /* Opera */}
    50%  {	-webkit-transform: rotate(0deg); /* Chrome y Safari */
	-moz-transform: rotate(0deg); /* Firefox */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
	-o-transform: rotate(0deg); /* Opera */}
    75%  {	-webkit-transform: rotate(-2deg); /* Chrome y Safari */
	-moz-transform: rotate(-2deg); /* Firefox */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
	-o-transform: rotate(-2deg); /* Opera */}
    100% {	-webkit-transform: rotate(0deg); /* Chrome y Safari */
	-moz-transform: rotate(0deg); /* Firefox */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
	-o-transform: rotate(0deg); /* Opera */}
}

@keyframes rotate {
    0%   {	-webkit-transform: rotate(0deg); /* Chrome y Safari */
	-moz-transform: rotate(0deg); /* Firefox */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
	-o-transform: rotate(0deg); /* Opera */}
    25%  {	-webkit-transform: rotate(2deg); /* Chrome y Safari */
	-moz-transform: rotate(2deg); /* Firefox */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
	-o-transform: rotate(2deg); /* Opera */}
    50%  {	-webkit-transform: rotate(0deg); /* Chrome y Safari */
	-moz-transform: rotate(0deg); /* Firefox */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
	-o-transform: rotate(0deg); /* Opera */}
    75%  {	-webkit-transform: rotate(-2deg); /* Chrome y Safari */
	-moz-transform: rotate(-2deg); /* Firefox */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
	-o-transform: rotate(-2deg); /* Opera */}
    100% {	-webkit-transform: rotate(0deg); /* Chrome y Safari */
	-moz-transform: rotate(0deg); /* Firefox */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
	-o-transform: rotate(0deg); /* Opera */}
}

.wiggle {
	border: none;
}

.wiggle:hover {
	-webkit-animation-name: wiggle; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.3s; /* Chrome, Safari, Opera */
    animation-name: wiggle;
    animation-duration: 0.3s;	
}

@-webkit-keyframes wiggle {
	0%   {transform: translateX(2px);}
	20%  {transform: translateX(0);}
	40%  {transform: translateX(-2px);}
	60%  {transform: translateX(0);}
	80%  {transform: translateX(2px);}
	100% {transform: translateX(0);}
}

@keyframes wiggle {
	0%   {transform: translateX(2px);}
	20%  {transform: translateX(0);}
	40%  {transform: translateX(-2px);}
	60%  {transform: translateX(0);}
	80%  {transform: translateX(2px);}
	100% {transform: translateX(0);}
}

.buzz {
	position: relative;
}

.buzz:hover {
    -webkit-animation: buzz 0.1s infinite; /* Chrome, Safari, Opera */ 
    animation: buzz 0.1s infinite;
}

@-webkit-keyframes buzz {
	0%   {transform: translateX(2px);}
	50%  {transform: translateX(0px);}
	100% {transform: translateX(-2px);}
}

@keyframes buzz {
	0%   {transform: translateX(2px);}
	50%  {transform: translateX(0px);}
	100% {transform: translateX(-2px);}
}

.bounce {

}

.bounce:hover {
    -webkit-animation: bounce 0.3s; /* Chrome, Safari, Opera */ 
    animation: bounce 0.3s;
}

@-webkit-keyframes bounce {
	0%   {transform: scale(1, 1);}
	25%	 {transform: scale(0.9, 0.9);}
	50%  {transform: scale(1, 1);}
	75%  {transform: scale(1.1, 1.1);}
	100% {transform: scale(1, 1);}
}

@keyframes bounce {
	0%   {transform: scale(1, 1);}
	25%	 {transform: scale(0.9, 0.9);}
	50%  {transform: scale(1, 1);}
	75%  {transform: scale(1.1, 1.1);}
	100% {transform: scale(1, 1);}
}

.drown {
	transition: transform 0.2s ease;
}

.drown:active {
	transform: scale(0.9);
}

.hover {
	transform: scale(1, 1);
	transition: transform 0.4s ease-in-out;
}

.hover:hover {
	transform: scale(1.1, 1.1);
}

.fade {
	opacity: 0.7;
	transition: opacity 0.3s linear;
}

.fade:hover {
	opacity: 1.2;
}

.shadow {
  transition: all 0.2s ease;
}

.shadow:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.shadowUp {
  transition: all 0.2s ease;
}

.shadowUp:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  transform: scale(1.05);
}

.convex {
	transition: all 0.2s ease;
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

.convex:active {
	box-shadow: none;
	transform: translate(4px, 4px);
}

.convex2 {
	transition: all 0.2s ease;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.8);
}

.convex2:active {
	box-shadow: none;
	transform: translate(0, 4px);
}

.convex3 {
	transition: all 0.2s ease;
	box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.8);
}

.convex3:active {
	box-shadow: none;
	transform: translate(0, -4px);
}

.inset-shadow {
	opacity: 0.99;
	transition: all 0.2s ease;
}

.inset-shadow:active {
	transform: scale(0.98);
	opacity: 1;
	box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.8);	
} 

.inset-border {
	transition: outline 0.2s linear;
}

.inset-border:hover {
  outline: 4px solid rgba(0,0,0,0.5);
  outline-offset: -4px;
}

.uprise:hover {
	-webkit-animation: uprise 0.8s; /* Chrome, Safari, Opera */ 
    animation: uprise 0.8s;
}

.uprise2 {
	transition: all 0.5s ease-in-out;
	opacity: 0.1;
	transform: scale(0.5);
}

.uprise2:hover {
	opacity: 1;
	transform: scale(1);
}

@-webkit-keyframes uprise {
	from { transform: scale(3); opacity: 0;}
	to   { transform: scale(1); opacity: 1;}
}

@keyframes uprise {
	from { transform: scale(3); opacity: 0;}
	to   { transform: scale(1); opacity: 1;}
}

.ease-left {
	-webkit-animation: ease-left 2s ease;
    animation: ease-left 2s ease;
}

.ease-right {
	-webkit-animation: ease-right 2s ease;
    animation: ease-right 2s ease;
}

.ease-top {
	-webkit-animation: ease-top 2s ease;
    animation: ease-top 2s ease;
}

.ease-bottom {
	-webkit-animation: ease-bottom 2s ease;
    animation: ease-bottom 2s ease;
}


@-webkit-keyframes ease-left {
	from { transform: translate(-400%); opacity: 0;}
	to   { transform: translate(0); opacity: 1;}
}

@keyframes ease-left {
	from { transform: translate(-400%); opacity: 0;}
	to   { transform: translate(0); opacity: 1;}
}

@-webkit-keyframes ease-right {
	from { transform: translate(400%); opacity: 0;}
	to   { transform: translate(0); opacity: 1;}
}

@keyframes ease-right {
	from { transform: translate(400%); opacity: 0;}
	to   { transform: translate(0); opacity: 1;}
}

@-webkit-keyframes ease-top {
	from { transform: translate(0, -400%); opacity: 0;}
	to   { transform: translate(0, 0); opacity: 1;}
}

@keyframes ease-top {
	from { transform: translate(0, -400%); opacity: 0;}
	to   { transform: translate(0, 0); opacity: 1;}
}

@-webkit-keyframes ease-bottom {
	from { transform: translate(0, 400%); opacity: 0;}
	to   { transform: translate(0, 0); opacity: 1;}
}

@keyframes ease-bottom {
	from { transform: translate(0, 400%); opacity: 0;}
	to   { transform: translate(0, 0); opacity: 1;}
}

.flip-top-left-c {
	transform-origin: 0 0 0;
	-webkit-animation: flip 0.4s; /* Chrome, Safari, Opera */ 
    animation: flip 0.4s;
}

.flip-bottom-left-c {
	transform-origin: 0 100% 0;
	-webkit-animation: flip 0.4s; /* Chrome, Safari, Opera */ 
    animation: flip 0.4s;
}

.flip-right-top-c {
	transform-origin: 100% 0 0;
	-webkit-animation: flip 0.4s; /* Chrome, Safari, Opera */ 
    animation: flip 0.4s;
}

.flip-right-bottom-c {
	transform-origin: 100% 100% 0;
	-webkit-animation: flip 0.4s; /* Chrome, Safari, Opera */ 
    animation: flip 0.4s;
}

@-webkit-keyframes flip {
	from { transform: rotateZ(0); opacity: 0.9;}
	to   { transform: rotateZ(-360deg); opacity: 1;}
}

@keyframes flip {
	from {	transform: rotateZ(0); opacity: 0.9;}
	to   {  transform: rotateZ(-360deg); opacity: 1;}
}

.flipY-right-side {
	transform-origin: 100% 50% 0;
	transition: transform 0.8s ease-out;
	transform: rotateY(-360deg);      
}

.flipY-left-side {
	transform-origin: 0 50% 0;
	transition: transform 0.8s ease-out;
	transform: rotateY(-360deg);       
}

.flipX {
	transition: transform 0.8s ease;
	transform: rotateX(-360deg);        
}

.flipY {
	transition: transform 0.8s ease;
	transform: rotateY(-360deg);       
}

.flipZ {
	transition: transform 0.5s ease;
	transform: rotateZ(-360deg);       
}

.fade-out {
	-webkit-animation: fade-out 2s ease;
    animation: fade-out 2s ease;
}

@-webkit-keyframes fade-out {
	from { transform: scale(0); opacity: 0;}
	to   { transform: scale(1); opacity: 1;}
}

@keyframes fade-out {
	from { transform: scale(0); opacity: 0;}
	to   { transform: scale(1); opacity: 1;}
}

.fade-in {
	-webkit-animation: fade-in 1s ease;
    animation: fade-in 1s ease;
}

@-webkit-keyframes fade-in {
	from { transform: scale(2); opacity: 1;}
	to   { transform: scale(0); opacity: 0;}
}

@keyframes fade-in {
	from { transform: scale(2); opacity: 1;}
	to   { transform: scale(0); opacity: 0;}
}

.flipX-hide {
	-webkit-animation: flipX-hide 1s;
    animation: flipX-hide 1s;
}

@-webkit-keyframes flipX-hide {
	from {opacity: 1;}
	20% {transform: scale(1.2);}
	to   { transform: rotate3d(1,0,0,90deg);opacity: 0.7;}
}

@keyframes flipX-hide {
	from {opacity: 1;}
	20% {transform: scale(1.2);}
	to   { transform: rotate3d(1,0,0,90deg);opacity: 0.7;}
}

.flipY-hide {
	-webkit-animation: flipY-hide 1s;
    animation: flipY-hide 1s;
}

@-webkit-keyframes flipY-hide {
	from {opacity: 1;}
	20% {transform: scale(1.2);}
	to   { transform: rotate3d(0,1,0,90deg);opacity: 0.7;}
}

@keyframes flipY-hide {
	from {opacity: 1;}
	20% {transform: scale(1.2);}
	to   { transform: rotate3d(0,1,0,90deg);opacity: 0.7;}
}

.jump-flip {
	-webkit-animation: jump-flip 1s cubic-bezier(.51,-0.93,.94,1.17);
    animation: jump-flip 1s cubic-bezier(.51,-0.93,.94,1.17);
} 

@-webkit-keyframes jump-flip {
	from{}
	30% {transform: scale(1.6) rotate3d(1,0,0,270deg);}
	to{transform: scale(1);}
}

@keyframes jump-flip {
	from{}
	30% {transform: scale(1.6) rotate3d(1,0,0,270deg);}
	to{transform: scale(1);}
}

.hover-inf {
	-webkit-animation: jump-flip 5s infinite linear;
    animation: jump-flip 5s infinite linear;
    animation-fill-mode: both;
}

@-webkit-keyframes jump-flip {
	0%   {transform: scale(1)}
	25%  {transform: scale(1.02)}
	50%  {transform: scale(1)}
	75%  {transform: scale(0.98)}
	100% {transform: scale(1)}
}

@keyframes jump-flip {
	0%   {transform: scale(1)}
	25%  {transform: scale(1.02)}
	50%  {transform: scale(1)}
	75%  {transform: scale(0.98)}
	100% {transform: scale(1)}
}